body{
background-color:blue;

}

h2{
text-shadow:2px 2px yellow;
}

div.i1{
background-image:url("/home/itsec2/Downloads/presidency-campus.jpg");
background-repeat:repeat-x;
padding:50px;
height:500px;
}

div.i2{
display:inline-block;
border:1px  black;
padding:50px;
width:150px;
height:100px;
background-color:white;
opacity:0.6;
filter:alpha(opacity=60);
}

div.icon1{
padding:10px;
display:inline-block;
}

div.icon2{
padding:10px;
display:inline-block;
}

div.icon3{
padding:10px;
display:inline-block;
}

div.icon4{
padding:10px;
display:inline-block;
}

div.icon5{
padding:10px;
display:inline-block;
}


img.fir{
width:50px; 
height:50px;
}

a{
text-decoration:none;
color:white;
}
a:hover{
color:black;
}

div.links{
background-color:gray;
color:white;
border:1px solid gray;
padding:30px;
}

div.sec{
background-color:white;
}

div.pu{
display:inline-block;
margin:25px;
background-image:linear-gradient(to right,lightblue,blue);
padding:50px;
width:220px;
height:200px;

}

div.campus{

display:inline-block;
margin:25px;
background-image:linear-gradient(to right,lightblue,blue);
padding:10px;
width:225px;
height:300px;

}

div.hostel{
background-image:linear-gradient(to right,lightblue,blue);
display:inline-block;
margin:25px;
background-color:lightblue;
padding:10px;
width:225px;
height:300px;
}


div.activity{
display:inline-block;
margin:25px;
background-image:linear-gradient(to right,lightblue,blue);
padding:10px;
width:225px;
height:300px;
}



div.cs::first-letter{
color:red;
font-weight:bold;
}
div.cs::first-line{
color:black;
font-weight:bold;
}






div.pu::selection{
color:white;
background:orange;
}

div.hostel::selection{
color:white;
background:orange;
}

div.campus::selection{
color:white;
background:orange;
}
div.activity::selection{
color:white;
background:orange;
}


img.h{
opacity:0.6;
filter:alpha(opacity=60);}

img.h:hover{
opacity:1;
filter:alpha(opacity=100); 
}



h5::first-letter{
color:red;
font-weight:bold;
font-size:20px;
}


div.campus{

