body{
background-color:linen;
background-image:url("/home/itsec2/Downloads/index1.jpeg");
background-repeat:repeat-y;
background-repeat:no-repeat;
background-position:top right;
font-size:20px;
}

h1{
font-size:3em;
text-transform:uppercase;
margin-left:20px;
background-color:lightblue;
margin-top:50px;
margin-bottom:50px;
margin-right:25px;
margin-left:25px;
width:50%;
}

img:hover{opacity:0.6;
filter:alpha(opacity=60);
}

a.u{
text-decoration:none;
}

p.highlight{
background-color:lightblue;
}

a.redtxt:link{color:red;}
a.bluetxt:visited{color:blue;}
a.htxt:hover{color:orange;}
a.atxt:active{color:green;}

a.redtxt,a.bluetxt{background-color:lightblue;}
a.htxt,a.atxt{background-color:yellow;}

table{
border:2px solid green;
border-collapse:collapse;
}

div{

width:200px;
border:25px solid navy;
border:25px radial;
}

p.d{
color:red;
}

p::first-letter{
color:red;
font-size:xx-large;
}
p{
font-style:italic;
font-variant:small-caps;
padding:50px;
border:4px dotted red;
border:10px solid green;
}

p{
color:red;
}

#para1{
color:blue;
}

p.colortext{
color:green;
}

h1,p.s{
color:red;}
